@import "tailwindcss";

* {

    /* margin: 0;
    padding: 0; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    overflow-x: hidden ;
}

.heroImage {
    /* background-image: url('./assets/images/hero2.jpg');| */
    background-image: url('./assets/images/background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/* -----------logos- slide styling-------------- */

/* keyframe for animation */
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 1.5rem 0;
    /* background-color: white; */

}

.logos-slide {
    white-space: nowrap;
    display: flex;
    align-items: center;
    animation: 20s slide infinite linear;
}

/*---------- media query for big screens --------- */
/* @media screen and (max-width: 200px) {

    .logos-slide {

        animation: 5s slide infinite linear;
    }
} */
/* -------- media query for big screens --------- */





.logos-slide img {
    height: 3rem;
    margin: 0 2rem;
}


/* Choose Image */
.chooseImage {
    background-image: url('./assets/images/choose2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* animating the starImages */
@keyframes starimageslide {
from{
    transform: translateX(0)
}
 to{
    transform: translateX(-100%);
 }
}

.starLogos {
    overflow: hidden;
}

.starLogos-slide{
    
    
    animation: 20s starimageslide infinite linear ;
}


/* animating the starImages */
@keyframes starimageslideReverse {
from{
    transform: translateX(-100%)
}
 to{
    transform: translateX(0);
 }
}

.starLogosReverse {
    overflow: hidden;
}

.starLogosReverse-slide{
    
    
    animation: 20s starimageslideReverse infinite linear ;
}



/* slide images */
.picHolder1{
    background-image: url('./assets/images/lectures.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.picHolder2{
    background-image: url('./assets/images/learn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.picHolder3{
    background-image: url('./assets/images/heroimage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.picHolder4{
    background-image: url('./assets/images/hero2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.picHolder5{
    background-image: url('./assets/images/future.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.picHolder6{
    background-image: url('./assets/images/collaboration.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.imagechecker{
    background-image: url('./assets/images/background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

